.env
/project.config.json
/project.private.config.json
miniapp/miniprogram_npm/
miniapp/project.private.config.json
deploy/production/.env.production
.idea/
.vscode/
.superpowers/
bin/
coverage/
node_modules/
*.exe
*.test
